#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.navbar-container {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  min-width: 100%;
}

#user-login {
  color: var(--fg-primary);
  text-decoration: none;
}

#nav-title {
  font-size: larger;
  color: white;
}

#nav-text {
  color: white;
}

.userDropDown {
  margin-right: .5rem;
  width: 158px;
}

.dropdown-links {
  text-decoration: none;
}
