*{
  background: linear-gradient(90deg, rgb(222, 205, 182) 10%, rgb(161, 216, 218) 35%, rgb(231, 157, 157) 100%);
}
h1 {
  font-family: 'Cedarville Cursive', cursive;
  color: white;
  animation: neon 5s infinite;
  font-size: 5em;
  text-align: center;
}
  @keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
      text-shadow: white 0 0 12px,
      palevioletred 0 0 24px,
      palevioletred 0 0 36px;
    }
    40%, 60% {
      text-shadow: none;
    } 
  }
  h2, li {
    font-family:'Pacifico';
    color: white;
    animation: neon 5s infinite;
    font-size: 2em;
    text-align: center;
  }
