*{
  background: lightcyan;}
  #dream {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
h1 {
  font-family: 'Cedarville Cursive', cursive;
  color: gray;
  font-size: 5em;
  text-align: center;
}
  @keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
      text-shadow: white 0 0 12px,
      palevioletred 0 0 24px,
      palevioletred 0 0 36px;
    }
    40%, 60% {
      text-shadow: none;
    } 
  }
  h2 {
    font-family:'Pacifico';
    color: gray;
    animation: neon 5s infinite;
    font-size: 2em;
    text-align: center;
  }
  li {
    font-family: 'Pacifico';
    color: gray;
    font-size: x-large;
  }
