.password-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.changePassword {
  height: fit-content;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  /* margin-bottom: 1rem; */
}
.password-page {
  display: grid;
  margin-top: 1rem;
  align-content: end;
  margin-bottom: 1rem;
  width: 100%;
}

.password-btns{
  display:flex;
  justify-content: space-between;
}

.password-btn {
  width: fit-content;
  white-space: nowrap;
  margin-right: .5rem;
}

.password-btn-cancel {
  width: fit-content;
  white-space: nowrap;
}

.change-password-btn {
  width: fit-content;
}

.message{
  font-weight: bold;
  color: green;
  margin-bottom: 2rem;
}

.error {
  font-weight: bold;
  color: var(--bg-primary);
}